.body {
	height: 100vh;
	display: grid;
	grid-template-areas:
		"header"
		"title"
		"main"
		"footer";
	grid-template-rows: 10% auto 1fr 3%;
	grid-template-columns: 1fr;
	font-size: 16px;
}

.header {
	grid-area: header;
	/* background-image: "url(src/image/background_logo.jpg)"; */
}

.title {
	grid-area: title;
	margin: auto;
	padding: 1em;
}

.content {
	grid-area: main;
}

.footer {
	grid-area: footer;
}
