.block {
	margin: 1.2em;
	padding: 0.5em;
}

.title {
	padding-bottom: 0.5em;
}

.ul {
	list-style-type: none;
	list-style-position: inside;
}

.list {
	padding: 0.3em;
	cursor: pointer;
}

.list:hover {
	text-decoration: underline green 2px;
}

.isListActive {
	list-style-image: url("../../../image/check.png");
}
