.gridElem {
	padding: 0.2em;
	min-width: 0%;
	border: 2px solid black;
	border-radius: 8px;
	/* transition: transform 0.3s, box-shadow 0.3s ease-in-out; */
	display: grid;
	grid-template-areas:
		"IMG IMG"
		"TEXT TEXT"
		"COL COL"
		"SZ SZ"
		"VAL ST";
	grid-template-rows: auto auto auto auto 30px;
}

.gridElem:hover {
	box-shadow: 0px 0px 11px yellowgreen;
	/* transform: scale(1.1, 1.1); */
}

.imgItem {
	display: block;
	height: 100%;
	cursor: pointer;
	grid-area: IMG;
	max-width: 100%;
	margin: auto;
}

.buttonCart {
	cursor: pointer;
}

.imgCart {
	display: block;
	margin: auto;
	cursor: pointer;
	grid-area: ST;
}

.textBlock {
	grid-area: TEXT;
	background-color: white;
}

.text {
	padding: 0.2em;
	/* width: 100%; */
	font-size: 1em;
}

.blockCatalog {
	padding: 2.7em;
	/* margin: 0.7em; */
	/* width: 100%; */
}

.selectColor {
	grid-area: COL;
	display: flex;
	padding: 0.2em;
	overflow: hidden;
}

.selectSize {
	grid-area: SZ;
	display: flex;
	padding: 0.2em;
	overflow: hidden;
}

.optCellColor::before {
	content: "00";
	color: transparent;
	display: inline-block;
	/* height: 100%; */
}
.optCell {
	margin: 2px;
	align-self: center;
	border: 1px solid black;
	text-align: center;
	background-color: white;
	cursor: pointer;
}

.input {
	width: auto;
}

.input::placeholder {
	font-size: 0.8em;
	color: rgb(161, 161, 161);
}

.input:invalid {
	background-color: red;
}
.check {
	position: absolute;
	opacity: 0;
	z-index: -1;
	top: 0px;
	left: 0px;
}

.label {
	display: block;
	cursor: pointer;
	padding: 3px;
	user-select: none;
}

.blockOptions {
	position: relative;
	margin: 0.3em;
	overflow: hidden;
	border: 1px solid black;
	/* cursor: pointer; */
}
